.App-footer{
    background-color: #c3b59b;
    padding: 20px;
    color: white;
}

.App-footer-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; 
    gap: 20px;
    padding: 20px 0;
}

.App-footer-info-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 500px;
    padding: 10px 20px;
}

.App-footer-info-section h4{
    font-size: 1.3rem;
}

.App-footer-info-section h3{
    font-size: 2.1rem;
}

.App-footer-info-section p{
    font-size: 1.1rem;
    text-wrap: balance; 
}

.App-footer-info-section ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
}

.App-footer-info a{
    color: #f5f5f5;
    text-decoration: none;
}

.App-footer-info a:hover{
    text-decoration: underline;
}

.App-footer-copyright{
    border-top: #f5f5f5 1px solid;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.App-footer-copyright-icons {
    display: flex;
    gap: 15px;
}

.App-footer-copyright-icons a svg:hover {
    transition: transform 0.7s ease;
    transform: rotateY(360deg);
}
