@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;

    scrollbar-width: auto;
    scrollbar-color: #c3b59b #f9f9f9;
}

*::selection {
    background-color: #f9f9f9d4;
    color: #c3b59b;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #c3b59b;
    border-radius: 5px;
}

*::-webkit-scrollbar-track {
    background-color: #f9f9f9;
}

body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

