.App-footer{
    background-color: var(--primary-color);
    padding: 20px;
    color: white;
}

.App-footer-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; 
    gap: 20px;
    padding: 20px 0;
}

.App-footer-info-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 500px;
    padding: 10px 20px;
}

.App-footer-info-section h4{
    text-transform: uppercase;
    font-size: 1.2rem;
}

.App-footer-info-section h3{
    font-size: 2.1rem;
}

.App-footer-info-section p{
    font-size: 1.1rem;
    text-wrap: balance; 
}

.App-footer-info-section ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
}

.App-footer-info a{
    color: #f5f5f5;
    text-decoration: none;
}

.App-footer-info a:hover{
    text-decoration: underline;
}

.App-footer-copyright{
    border-top: #f5f5f5 1px solid;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.App-footer-copyright-icons {
    display: flex;
    gap: 15px;
}
.App-footer-copyright-icons a:hover svg {
    transition: all 0.3s ease;
    filter: drop-shadow(0 0 10px #f5f5f5); /*  */
    transform: rotateY(180deg);
    transform-origin: center;
    animation: rotate 0.3s ease forwards;
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(90deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}
