.App-home {
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-position: top;
    width: 100%;
    min-height: 100dvh;
}

.App-home main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.App-home main h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    text-align: center;
}

.App-home main p {
    font-size: 1.5rem;
    text-wrap: balance;
}

.App-home main #visor {
    text-transform: uppercase;
    color: var(--primary-color);
}

