@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --primary-color: #d4c5ae;
    --secondary-color: #f9f9f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;

    scrollbar-width: auto;
    scrollbar-color: var(--primary-color) var(--secondary-color);
}

*::selection {
    background-color: #f9f9f9d4;
    color: var(--primary-color);
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 5px;
}

*::-webkit-scrollbar-track {
    background-color: var(--secondary-color);
}

body {
    background-color: var(--secondary-color);
    color: #333;
    line-height: 1.6;
}

main {
    min-height: 100dvh;
}
